In [1]:
import seaborn as sns
import pandas as pd
from scipy.stats import chi2_contingency

In [2]:
iris = sns.load_dataset('iris')

In [7]:
iris

,sepal_length,sepal_width,petal_length,petal_width,species,petal_length_cat
0,5.1,3.5,1.4,0.2,setosa,short
1,4.9,3.0,1.4,0.2,setosa,short
2,4.7,3.2,1.3,0.2,setosa,short
3,4.6,3.1,1.5,0.2,setosa,short
4,5.0,3.6,1.4,0.2,setosa,short
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,long
146,6.3,2.5,5.0,1.9,virginica,long
147,6.5,3.0,5.2,2.0,virginica,long
148,6.2,3.4,5.4,2.3,virginica,long
149,5.9,3.0,5.1,1.8,virginica,long

In [8]:
iris["petal_length_cat"] = pd.cut(iris["petal_length"], bins=3, labels=["short", "medium", "long"])

In [5]:
iris["petal_length_cat"]

0      short
1      short
2      short
3      short
4      short
       ...
145     long
146     long
147     long
148     long
149     long
Name: petal_length_cat, Length: 150, dtype: category
Categories (3, object): ['short' < 'medium' < 'long']

In [9]:
chi = pd.crosstab(iris['species'], iris['petal_length_cat'])
chi

petal_length_cat  short  medium  long
species
setosa               50       0     0
versicolor            0      48     2
virginica             0       6    44

In [11]:
chi2, p, dof, expected = chi2_contingency(chi)
print(f"Chi2: {chi2}, p-value: {p}")

Chi2: 256.52173913043475, p-value: 2.561410449304364e-54

if p < 0.05 than species and petal lenght are dependent

if p > 0.05 than species and petal lenght are independent

In [ ]:
see if 2 categorical variables are related or independent
if p value is less than 0.05 we reject null hypothesis and accept alternative hypothesis